{% extends 'blog/base.html' %}
{% block title %}
  My Blog
{% endblock %}
{% block content %}
  <h1>My Blog</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
    {% for post in posts %}
      <div class="bg-blue-200 p-4 shadow md:shadow-lg rounded-lg outline outline-2">
        <h2 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
          <a
          href="{{post.get_absolute_url}}"
          class="text-grey-200 transition duration-150 ease-in-out hover:text-red-600 focus:text-green-600 active:text-green-700"
          >{{post.title |title }}</a
        >

        </h2>
        <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
        {{ post.body|truncatewords:30|linebreaks }}
      </div>
    {% endfor %}
  </div>

  {% include 'pagination.html' with page=posts %}
{% endblock %}
